.ax_default {
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.box_2 {
}
.ellipse {
}
.image {
}
.placeholder {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.heading_1 {
  font-family:'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.text_link {
  color:#0000FF;
}
.paragraph {
  text-align:left;
}
.line {
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.table_cell {
}
.text_link1 {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.connector {
  color:#169BD5;
}
.sticky_1 {
  text-align:left;
}
.sticky_2 {
  text-align:left;
}
.sticky_3 {
  text-align:left;
}
.sticky_4 {
  text-align:left;
}
.box_3 {
}
.form_hint {
  color:#999999;
}
.shape {
}
.form_disabled {
}
.flow_shape {
}
.shape1 {
}
.icon {
}
.overline_-_pp {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#2A2C2E;
  text-transform:uppercase;
}
.body_small_2_-_pp {
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:#2A2C2E;
  text-align:left;
  line-height:20px;
}
.primary_button1 {
  color:#FFFFFF;
}
.body_description_1_-_pp {
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:rgba(42, 44, 46, 0.9803921568627451);
  text-align:left;
  line-height:28px;
}
.icons_23_white {
  font-family:'Material Icons Regular', 'Material Icons', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
  text-align:center;
  line-height:23px;
}
.text_button_14dps_font_on_light_-_pp {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6200EE;
  line-height:14px;
}
.paragraph1 {
  text-align:left;
}
.shape2 {
}
.megamenu_sub_list_item_-_pp {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2C2E;
}
.h4_-_pp {
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:rgba(42, 44, 46, 0.996078431372549);
  text-align:left;
  line-height:24px;
}
.image1 {
  color:#000000;
}
.vertical_line {
}
.hyperlink_3_-_pp {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(42, 44, 46, 0.9803921568627451);
  text-align:left;
  line-height:17px;
}
.image2 {
  font-family:'Helvetica Neue ', 'Helvetica Neue', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
.table {
}
.radio_button {
  text-align:left;
}
.app_bar_1 {
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
.icon_24dps_grey_60_ {
  font-family:'Material Icons Regular', 'Material Icons', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:rgba(0, 0, 0, 0.6);
  text-align:center;
  line-height:22px;
}
.icon_24dps_secondary {
  font-family:'Material Icons Regular', 'Material Icons', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#03DAC4;
  text-align:center;
  line-height:22px;
}
.list_card {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.8705882352941177);
  text-align:left;
  line-height:16px;
}
.hyperlink_2_underlined_-_pp {
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:#4B286D;
  text-align:left;
  line-height:16px;
}
.h3_-_pp {
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:28px;
  color:#2A2C2E;
  text-align:left;
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.topnav-item {
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
.close_-_pp {
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:rgba(42, 44, 46, 0.996078431372549);
  text-align:left;
  line-height:24px;
}
.field_data_-_pp {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#71757B;
  text-align:left;
  line-height:16px;
}
.field_label_-_pp {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(42, 44, 46, 0.996078431372549);
  text-align:left;
  line-height:16px;
}
.droplist {
  color:#000000;
  text-align:left;
}
.icon_24dps_black_87_ {
  font-family:'Material Icons Regular', 'Material Icons', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:rgba(0, 0, 0, 0.8666666666666667);
  text-align:center;
  line-height:22px;
}
.primary_button_purple_-_pp {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
.hyperlink_1_-_pp {
  font-family:'Roboto Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4B286D;
  text-align:left;
  line-height:20px;
}
.om_h3 {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C12330;
  text-align:left;
}
.h2_-_pp {
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:36px;
  color:#65408A;
  text-align:left;
}
.banner_2_line {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.8666666666666667);
  text-align:left;
  line-height:19px;
}
.progress_step_labels_-_pp {
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#2A2C2E;
  text-align:left;
}
.breadcrumb_-_pp {
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:#4B286D;
  text-align:left;
}
.helper_text_-_pp {
  font-family:'Roboto Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#71757B;
  text-align:left;
}
.list_item_-_single_line_-_pp {
  font-family:'Roboto Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(42, 44, 46, 0.996078431372549);
  text-align:left;
  line-height:16px;
}
.paragraph2 {
  text-align:left;
}
.image3 {
  color:#000000;
}
._contained_button {
  color:#FFFFFF;
}
._helper_text {
  font-size:12px;
  color:rgba(0, 0, 0, 0.6);
  text-align:left;
}
._label {
  font-size:12px;
  color:#02A7F0;
  text-align:left;
}
.horizontal_line {
}
.display_h1_-_pp {
  font-family:'Roboto Thin', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:44px;
  color:#4B286D;
  text-align:left;
  line-height:52px;
}
.om_green_button {
  font-family:'Helvetica Neue LT Std 45 Light', 'Helvetica Neue LT Std', 'HelveticaNeueLT Std', 'Light', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
textarea, select, input, button { outline: none; }
